body.landing{
  background-color: rgb(50, 40, 50);
}

/* navbar */
.navbar{
  padding: 0.5rem;
  background-color: rgb(60, 50, 60);
}
.navbar .logo{
  position: relative;
  left: 2rem;
  /* resizing and optimization*/
  width: 300px;
  border-radius: 10px;
}

/*main part */
.main-content{
  position: relative;
  min-height: 600px;
  background-image: url(../assets/images/glory1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /*might change this */
}
.main-content .main-title{
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 0px rgb(50,30,50);
}

/* bulletpoints */
.bullet-points{
  position: relative;
  display: table;
  width: 100%;
}

.point{
  display: table-cell;
  position: relative;
  width: 33.3%;
  padding: 2rem;
  text-align: center;
}

.point .point-title{
  font-size: 1.25rem;
}

.ion-radio-waves, .ion-card{
  color: white;
  font-size: 5rem;
}

.blue{
  color: rgb(41, 151, 216);
}
