*, *::before, *::after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-size: 100%;
}

body{
  font-family: 'Lato';
  color: white;
  min-height: 100%;
}
body.landing{
  background-color: rgb(50, 40, 50);
}

/* navbar */
.navbar{
  padding: 0.5rem;
  background-color: rgb(60, 50, 60);
}
.navbar .logo{
  position: relative;
  left: 2rem;
  /* resizing and optimization*/
  width: 300px;
  border-radius: 10px;
}

/*main part */
.main-content{
  position: relative;
  min-height: 600px;
  background-image: url(../assets/images/glory1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /*might change this */
}
.main-content .main-title{
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 0px rgb(50,30,50);
}

/* bulletpoints */
.bullet-points{
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.point{
  position: relative;
  padding: 2rem;
  text-align: center;
}

.point .point-title{
  font-size: 1.25rem;
}

.ion-radio-waves, .ion-card{
  color: white;
  font-size: 5rem;
}

.blue{
  color: rgb(41, 151, 216);
}

.container{
  margin: 0 auto;
  max-width: 64rem;
}

/* mid/small screen */
@media(min-width: 640px){
  html{ font-size: 112%; }
    .column{
      float: left;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .column.full{ width: 100%; }
    .column.two-thirds{ width: 66.7%; }
    .column.half{ width: 50%; }
    .column.third{ width: 33.3%; }
    .column.fourth{ width: 25%; }
    .column.flow-opposite{ float: right; }
}

/* larger screen */
@media(min-width: 1024px){
  html{ font-size: 120%; }
}

/*
html{
  color: black;
}

body{
  font-family: Ubuntu;
  max-width: 1400px;
  min-width: 700px;
}

.whole-part{
  width: 100%;
}

.top-part{
  width: 100%;
}

.bottom-part{
  width: 100%;
}

.table-contents{
  width: 100%;
}

.table-contents th{
  border: 0 3px 0 3px solid grey;

}

.table-contents i{
  font-size: 100px;
  color: rgb(41, 151, 216);
}
*/
